<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WhatsApp Chatbot</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900 ">

<nav class="bg-[#2c4156] shadow-md mb-6">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
      <div class="flex items-center space-x-6">
        <a href="/templates/index.html" class="text-white font-semibold hover:text-blue-600 transition">Sobre</a>
        <a href="/templates/adicionar_cont.html" class="text-white font-semibold hover:text-blue-600 transition">Adicionar Contatos</a>
        <a href="/templates/envio_arquivos.html" class="text-white font-semibold hover:text-blue-600 transition">Enviar Arquivo</a>
        <a href="/templates/List_contato.html" class="text-white font-semibold hover:text-blue-600 transition">Lista de Contatos</a>
      </div>
      <div class="flex items-center space-x-4">
        <a href="/templates/login.html" class="text-white font-semibold hover:text-blue-600 transition">Login</a>
        <a href="/templates/registro.html" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-xl hover:bg-blue-700 transition text-sm font-medium">Registrar</a>
      </div>
    </div>
  </nav>

  <div class="border border-blue-300 flex-col max-w-2xl mx-auto mt-6 bg-[#f1f5ff] p-8 sm:px-7 sm:py-9 rounded-2xl shadow-lg">
    <h2 class="text-3xl font-bold mb-4 text-center">🤖 WhatsApp Chatbot</h2>

    <div id="qr" class="text-center mb-6">
      <h3 class="text-xl font-semibold mb-2">QR Code</h3>
      <img id="qrcode" src="" alt="O QR Code vai aparecer aqui" class="mx-auto w-64 h-64 object-contain" />
    </div>

    <h3 id="adicionar" class="text-xl font-semibold mb-4">Adicionar Contatos</h3>
    <div class="space-y-3 mb-4">
      <input type="text" id="nome" placeholder="Nome" 
        class="w-full px-4 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <input type="text" id="numero" placeholder="Número com DDI (ex: 5511999999999)" 
        class="w-full px-4 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <textarea id="mensagem" placeholder="Mensagem" rows="4"
        class="w-full px-4 py-2 border border-gray-300 rounded shadow-sm resize-y focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
    </div>

    <div class="flex justify-center grid">
      <button onclick="adicionarContato()" type="button" 
        class="bg-blue-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md transition">
        Adicionar contato
      </button>
    </div>
  </div>

  <script src="/public/scripts/contatos.js"></script>
  <script src="/public/scripts/MTcontatos.js"></script>
  <script src="/public/scripts/qrcode.js"></script>
  <script src="/public/scripts/bot.js"></script>
</body>
</html>
