<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Chatbot WhatsApp</title>
  <link rel="stylesheet" href="/public/style.css">
  <style>
  </style>
</head>
<body>
  <nav class="navbar">
    <ul>
<li><a href="/templates/index.html">Sobre</a></li>
      <li><a href="/templates/adicionar_cont.html">Adicionar Contatos</a></li>
      <li><a href="/templates/envio_arquivos.html">Enviar Arquivo</a></li>
      <li><a href="/templates/List_contato.html">Lista de Contatos</a></li>
    </ul>
  </nav>

  <div class="container">
    <h2>Sobre o ChatBot</h2>
    <p>
      Este é um chatbot desenvolvido para interagir com usuários via WhatsApp, permitindo o envio de mensagens e arquivos de forma automatizada.<br><br>
      Com ele, você pode cadastrar contatos, enviar mensagens em massa, compartilhar arquivos e gerenciar sua lista de destinatários de maneira simples e eficiente. O sistema utiliza autenticação via QR Code para conectar ao WhatsApp Web, garantindo praticidade e segurança.<br><br>
      Ideal para empresas, equipes de vendas, suporte ou qualquer pessoa que precise automatizar o contato com vários usuários pelo WhatsApp.<br><br>
    </p>
  </div>

  <!-- Espaço para as fotos dos desenvolvedores -->
  <div class="devs-fotos">
    <div class="dev-foto">
      <img src="/public/img/l.webp" alt="Lucas Kauã">
      <span>Dev. Back-end: Lucas Kauã</span>
    </div>
    <div class="dev-foto">
      <img src="/public/img/panda-fofinho-com-bambu_138676-3053.avif" alt="Sandriely França">
      <span>Dev. Front-end: Sandriely França</span>
    </div>
  </div>

  <script src="/public/scripts/contatos.js"></script>
  <script src="/public/scripts/MTcontatos.js"></script>
  <script src="/public/scripts/qrcode.js"></script>
  <script src="/public/scripts/bot.js"></script>
</body>
</html>
